.video-toolbar {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    background-color: #1d1d1d;
    padding: 11px 18px 11px 15px;
    min-height: 72px;
    border-radius: 0;
    align-items: center;
    gap: 35px;
    li {
        display: flex;
        gap: 5px;
        color: #fff6;
        align-items: center;
        cursor: pointer;
        padding: 0; 
        line-height: 18px;
        span {
            font-size: 12px;
        }
    }

    .watch-on-phone {
        padding: 3px 5px;
        border-radius: 2px !important;
        background: linear-gradient(45deg,#fe748e 45%,#fdadee) !important;
        .option-common-dropdown {
            bottom: 46px;
        }
    }
}