.container-tags{
    background-color: #1d1d1d;
    width: 1345px;
    height: 400px;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}

.container-tags-img{
    margin-right: 5px;
    margin-top: 40px;
    flex: 1;
}