.watched {
    min-width: 300px;
    &-list {
        a {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            &:hover {
                background-color: #171717;
            }
        }
    }
}