.upgrade-vip {
    li {
        padding: 0;
        margin-top: 10px;
    }

    &-action {
        background: url(/recharge-product-bg-wide.png) 44% 100% no-repeat;
        background-size: 214%;
        padding: 15px 10px;
    }
}