.tags-homepage{
    font-size: 13px;
}

.tags-homepage-left-2 {
    width: max-content;
} 

.tags-homepage-center-2 {
    flex: 1;
    font-size: 12px !important;
    ul {
        row-gap: 15px;
    }
    li {
        padding: 2px 17px 1px;
        border-radius: 0 !important;
        
        span {
            color: #ffffffb3;
        }
    }
    
}

.tag-active{
    background: #fc748c !important;
    span {
        color: #fff !important;
    }
}

.tags-homepage-left-2 {
.item-tag-default {
    border-radius: 0 !important;
    padding: 0;
    a {
        padding: 1px 15px;
        &:hover {
            color: #fff;
        }
    }
}
}

// .tags-homepage-right{
//     width: 100px;
// }