.primary-layout {
    height: 100%;
}

.content-layout {
    flex: 1;
    width: 1%;
    overflow: auto;
}

#header {
  position: fixed;
  top: 0;
  z-index: 400;
  width: 100%;
}

/* management sidebar */
.wrap-sidebar {
    position: absolute;
    height: calc(100vh - 73px);
    z-index: 100;
    left: -100%;
    transition: 0.8s;
    box-shadow: 0px 0px 3px 1px #dddddd;
    width: max-content !important;
    }

  .close-menu-sidebar {
    position: absolute;
    right: -27px;
    top: -10px;
    font-size: 25px;
    cursor: pointer;
  }

  .show-menu-sidebar {
    font-size: 24px;
    cursor: pointer;
  }

  @media (max-width: 576px) {
    .wrap-sidebar {
    height: calc(100vh - 51px);

    }
  }
  
  @media (min-width: 992px) {
    .wrap-sidebar {
      position: relative;
      left: 0;
    }
  }