.search-tag{
    font-size: 16px;
}

.tags-search-left-1 {
    width: 300px;
    float: left;
} 

.tags-search-center-1 {
    width: 420px;
    font-size: 12px !important;
    float: left;
        height: 25px;
        padding-left: 30px;
    border-left: 1px solid;
    border-color: #6666;
}

.tags-search-right-1 {
    width: 600px;
    float: right;
}

.tags-search-right-1-6 {
    // width: 500px !important;
    // padding-top: 20px;
    // padding-bottom: 20px;
} 

.item-default{
    padding: 5px 9px;
    margin-left: 14px;
}

.bg-danger{
    padding: 5px 10px;
}

.small-video-active {
    background: #fc748c !important;
}
